body, ul, p, h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
}

button, input {
  outline: none;
}

.a-i-c {
 display: flex;
 align-items: center;
}

.wrapper {
 max-width: 1028px;
 margin: 0 auto;
 padding: 0 15px;
}

.arrow-btn {
  display: block;
  position: relative;
  width: 76px;
  height: 2px;
  background-color: #fff;
}

.arrow-btn::before,
.arrow-btn::after {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  right: 0;
}

.arrow-btn::before {
  transform-origin: right bottom;
  transform: rotate(45deg);
}

.arrow-btn::after {
  transform-origin: right top;
  transform: rotate(-45deg);
}