.header-inner {
  margin-top: 30px;
  line-height: 0;
  img {
    width: 100%;
  }
}

.inner-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .order {
    max-width: 330px;
    width: 100%;
    min-height: 190px;
    padding: 0 20px;
    box-sizing: border-box;
    background: url('/src/img/mini.png') no-repeat;
    background-blend-mode: luminosity;
    background-color: rgba(124, 228, 214, .9);
    position: relative;
    top: -110px;
    left: 30px;
    .bold {
      font-family: 'Gilroy - Extra Bold', Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 0.26px;
      margin: 15px 0;
      color: #2d2d2d;
    }
    .arrow-btn {
      margin-top: 20px;
    }
 }
  .telephone {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2.25;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #212121;
    min-width: 335px;
    &__item {
      white-space: nowrap;
    }
    img {
      margin-right: 20px;
      padding-left: 29px;
    }
    .pipeline {
      padding: 0 10px;
  }
 }
}

.arrow-link {
  position: absolute;
  width: 78px;
  height: 40px;
}

.order p + p {
  color: #2d2d2d;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.19px;
}

.arrow-link {
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.5);
    margin-left: 20px;
  }
}
